{
  "extension": [".ts"],
  "exclude": ["**/*.d.ts", "dist/**/*", "**/*.test.ts"],
  "include": ["src/**/*.ts"],
  "require": ["ts-node/register", "source-map-support/register"],
  "all": true,
  "check-coverage": true,
  "lines":75,
  "functions": 75,
  "branches": 100,
  "reporter": ["lcov", "text"]
}
